.language-list-con {
    display: flex;
    margin:auto;
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: center;
}

.language-list-con > * {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}