.status-message-con {
    height: auto;
    max-width: 1000px;
    min-width: 400px;
    margin: 15px;
    text-align: center;
    background-color: #10a95b;
    border-radius: 15px;
    padding: 10px;
}

.status-message-con > * {
    margin: 5px;
}