.status-message-con {
    height: 90px;
    max-width: 1000px;
    min-width: 400px;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.status-message-con > * {
    margin: 5px;
}

.status-message-con.game-won {
    background-color: #10a95b;
}

.status-message-con.game-lost {
    background-color: #ba2a2a;
}